	</div><!-- .wrapper -->
		<footer class="footer">
			<div class="container container-inner">
				<div class="footer__copyright">&copy; {{ now.Format "2006" }} {{ .Site.Title }}. <span class="footer__copyright-credits">{{ T "footer_credits" | safeHTML }}</span></div>
			</div>
		</footer>
	</div><!-- .container-outer -->
<script>
	(function addHeadingLinks() {
		var article = document.querySelector('article');
		if (!article) return;
		var headings = article.querySelectorAll('h1, h2, h3, h4, h5, h6');
		headings.forEach(function (heading) {
			if (heading.id) {
				var a = document.createElement('a');
				a.href = '#' + heading.id;
				a.title = "permalink";
				a.classList = ["header-link"];
				a.innerHTML = '<svg height="22px" width="22px"><use xlink: href="#anchor-link"></use></svg>';
				heading.appendChild(a);

				a = document.createElement('a');
				a.href = '#ToC';
				a.title = "back to table of contents"
				a.classList = ["header-link"];
				a.innerHTML = '<i class="fa fa-arrow-up"></i>';
				heading.appendChild(a);
			}
		});
	})();
</script>
</body>
</html>
